.project/
.settings/
.idea/
*.iml
classes/
*.class

server/dat/*
server/tpl/*/cache
server/tpl/*/template_c

client/*/bin
client/*/gen
client/*/assets

opengl/*/bin
opengl/*/gen
opengl/*/assets

special/*/bin
special/*/gen
special/*/assets

.DS_Store

